#qna {
  display: none;
}

.qBox {
  background-color: whitesmoke;
  opacity: 80%;
  text-align: center;
  word-break: keep-all;
  border-radius: 5px;
  font-size: 28px;
  width: 60%
}

.answerList {
  background-color: whitesmoke;
  opacity: 80%;
  border-radius: 5px;
  display: block;
  width: 80%;
  border: 0px;
  font-size: 23px;
  word-break: keep-all;
}

.answerList:hover, .answerList:focus {
  background-color: #333333;
  color: whitesmoke;
}
