#result{
  display: none;
  background-color: whitesmoke;
  opacity: 80%;
  width: 80%;
  text-align: center;
  word-break: keep-all;
  border-radius: 15px;
}

.resultname{
  font-size: 26px;
}

.resultDesc{
  font-size: 20px;
}

.gohome{
  color: white;
  background-color: pink;
  font-size: 20px;
  word-break: keep-all;
  border: 0px;
  border-radius: 20px;
}
